html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #081031;
  overflow: hidden;
}

.beam {
  position: absolute;
  top: 0;
  width: 30%;
  height: 85%;
  background-color: #fff;
}

.beam::before,
.beam::after {
  content: '';
  display: block;
  position: absolute;
  width: 25px;
  height: 100%;
  background-color: #081031;
}

.beam::before {
  left: -6px;
  transform: rotate(1deg);
}

.beam::after {
  right: -6px;
  transform: rotate(-1deg);
}

.beam-bottom {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 50px;
  border-radius: 50%;
  background-color: #ced2e1;
  z-index: 1;
}

.shadow {
  position: absolute;
  left: 41%;
  bottom: 10px;
  width: 50px;
  height: 20px;
  border-radius: 50%;
  background-color: #aeb1be;
  z-index: 2;
  transform: scale(1.5);
  animation: shadow 8s ease-in-out infinite;
}

.shadow-2 {
  position: absolute;
  bottom: 10px;
  width: 100px;
  left: 50%;
  height: 30px;
  border-radius: 50%;
  background-color: #aeb1be;
  z-index: 2;
  transform: scale(1.5);
  animation: shadow 8s ease-in-out infinite;
}

.sheep {
  width: 300px;
  position: absolute;
  display: block;
  transform: translateY(0) rotate(0);
  animation: beam 8s ease-in-out infinite;
}

.head {
  position: absolute;
  left: 30%;
  display: block;
  width: 70px;
  height: 90px;
  background-color: #000;
  border-radius: 50%;
  transform: rotate(30deg);
  z-index: 3;
}

.eyes {
  position: absolute;
  left: -10%;
  display: block;
  width: 100%;
  height: 20px;
  top: 30%;
}

.eye {
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  transform: rotate(-3deg);
}

.eye::after {
  position: absolute;
  left: 15%;
  display: block;
  content: '';
  background-color: #000;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.left-eye {
  left: 17px;
}

.left-eye::before {
  content: '';
  display: block;
  width: 15px;
  position: absolute;
  bottom: 0px;
  height: 7px;
  left: -0.5px;
  background-color: #fff;
  border-radius: 35%;
}

.right-eye {
  right: 11px;
}

.right-eye::before {
  content: '';
  display: block;
  width: 15px;
  position: absolute;
  bottom: 0px;
  height: 7px;
  left: -0.5px;
  background-color: #fff;
  border-radius: 35%;
}

.body {
  position: absolute;
  left: 50%;
  top: 51%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 2;
}

.left-ear {
  position: absolute;
  width: 20px;
  height: 10px;
  border-radius: 50%;
  top: 4px;
  left: -3px;
  background: black;
  transform: rotate(-10deg);
}

.left-ear::after {
  position: absolute;
  content: '';
  background: #fff;
  width: 10px;
  top: 6px;
  left: 2px;
  height: 76%;
  border-radius: 15px;
  transform: rotate(-35deg);
}

.right-ear {
  position: absolute;
  width: 20px;
  height: 10px;
  border-radius: 50%;
  top: 4px;
  right: -3px;
  background: black;
  transform: rotate(-10deg);
}

.right-ear::after {
  position: absolute;
  content: '';
  background: #fff;
  width: 10px;
  top: 7px;
  right: 3px;
  height: 76%;
  border-radius: 15px;
  transform: rotate(35deg);
}

.legs {
  position: absolute;
  left: 50%;
  top: 51%;
  width: 100px;
  height: 100px;
}

.leg {
  background-color: #000;
}

.leg-1 {
  position: absolute;
  bottom: -5px;
  width: 10px;
  height: 30px;
  left: 8px;
  transform: rotate(-8deg);
}

.leg-2 {
  position: absolute;
  bottom: -15px;
  width: 10px;
  height: 30px;
  left: 25px;
  transform: rotate(-10deg);
}

.leg-2::before {
  position: absolute;
  bottom: 0;
  left: 30%;
  content: '';
  width: 2px;
  height: 20%;
  background-color: #fff;
}

.leg-3 {
  position: absolute;
  bottom: -15px;
  width: 10px;
  height: 30px;
  left: 60px;
  transform: rotate(-10deg);
}

.leg-4 {
  position: absolute;
  bottom: -13px;
  width: 10px;
  height: 35px;
  left: 88px;
  transform: rotate(-9deg);
}

.leg-4::before {
  position: absolute;
  bottom: 0;
  left: 30%;
  content: '';
  width: 2px;
  height: 20%;
  background-color: #fff;
}

.ship {
  position: absolute;
  z-index: 1;
}

.beam2 {
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  height: 200px;
  width: 50px;
  background-color: #fff;
}

.beam2::before {
  position: absolute;
  bottom: -10px;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
  display: block;
  content: '';
  height: 20px;
  width: 50px;
  background-color: #aeb1be;
  z-index: 2;
}

.ship-1 {
  top: 25px;
  left: 25px;
}

.ship-2 {
  top: 100px;
  right: 100px;
}

.dome {
  display: block;
  width: 100px;
  height: 50px;
  background-color: #3d4546;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  margin: 0 auto;
  animation: ship 3s infinite;
}

.ship-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  height: 25px;
  border-radius: 15px;
  background: #e54949;
  animation: ship 3s infinite;
}

.porthole {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #eadc8a;
}

@keyframes beam {
  0%{
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(-300px) rotate(45deg);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes shadow {
  0%{
    transform: scale(1.5);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

@keyframes ship {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}
