
:root {
  --fur-color: #b15f30;
  --eye-color: #dff3fe;
}

* {
  position: relative;
}

body {
  height: 100vh;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 80rem;
  height: 80rem;
  background: radial-gradient(#657994, #cbd0d4, #eceeeb);
  box-shadow: 0rem 0rem 100rem #eceeeb;
}

.beaver {
  height: 100vh;
}

.head {
	position: absolute;
  top: 35%;
  left: 50%;
  background-color: var(--fur-color);
	text-align: left;
}

.head:before,
.head:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.head,
.head:before,
.head:after {
	width:  15em;
	height: 15em;
	border-top-right-radius: 75%;
}

.head {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866) translate(-50%, -35%);
  border-top: 3px solid black;
  border-right: 3px solid black;
}
.head:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
  border-top: 3px solid #000;

}
.head:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
  border-right: 3px solid #000;
}

.eye-container {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  width: 25rem;
  height: 10rem;
  z-index: 1;
}

.eye {
  position: absolute;
  border: 3px solid #000;
  border-bottom: 6px solid #000;
  border-radius: 50%;
  background: #fff;
  z-index: 1;
  overflow: hidden;

  &::before {
    position: absolute;
    border-radius: 50%;
    top: 2rem;
    content: '';
    width: 100%;
    height: 100%;
    background: var(--eye-color);
  }

  &::after {
    content: '';
    background: #000;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    border-radius: 50%;
  }

  &.left-eye {
    top: -1rem;
    left: 3rem;
    width: 11rem;
    height: 11rem;

    &::after {
      top: 54%;
      left: 65%;
    }
  }

  &.right-eye {
    top: 50%;
    right: 4rem;
    width: 7rem;
    height: 7rem;
    transform: translateY(-50%);

    &::after {
      top: 50%;
      right: 50%;
    }
  }
}

.nose {
  position: absolute;
  top: 62%;
  left: 53%;
  transform: translate(-50%, -50%);
  width: 15rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #000;
  z-index: 1;

  &::after {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    content: '';
    width: 40%;
    height: 30%;
    background: #fff;
    border-radius: 50%;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: -2.5rem;
    left: 50%;
    width: .5rem;
    height: 3rem;
    background: #000;
  }
}

.teeth {
  position: absolute;
  top: 70%;
  left: 46%;
  width: 12rem;
  height: 10rem;
  background: #fff;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 30%;
  border: .3rem solid #000;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 46.5%;
    width: .5rem;
    height: 100%;
    background: #000;
  }
}

.cheek {
  position: absolute;
  width: 15rem;
  height: 5rem;
  background: var(--fur-color);
  border-bottom: 5px solid #000;

  &.left-cheek {
    top: 65%;
    left: 35%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    transform: rotate(15deg);

    &::before {
      content: '';
        position: absolute;
        bottom: -1.2rem;
        left: -0.3rem;
        width: 1rem;
        height: 2rem;
        border-right: .3rem solid #000;
        border-radius: 50%;
        transform: rotate(180deg);
    }
  }

  &.right-cheek {
    top: 65%;
    left: 53%;
    transform: rotate(-15deg);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;

    &::before {
      content: '';
        position: absolute;
        bottom: -1.2rem;
        right: -0.3rem;
        width: 1rem;
        height: 2rem;
        border-right: .3rem solid #000;
        border-radius: 50%;
    }
  }
}


// EARS

//LEFT EAR
.left-ear {
  position: absolute;
  top: 31%;
  left: 43%;
  background-color: var(--fur-color);
	text-align: left;

  .inner-ear {
    width: 3rem;
    height: 4rem;
    border-radius: 50%;
    border-bottom: .3rem solid black;
    position: absolute;
    z-index: 2;
  }
}

.left-ear:before,
.left-ear:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.left-ear,
.left-ear:before,
.left-ear:after {
	width:  3em;
	height: 3em;
	border-top-right-radius: 75%;
}

.left-ear {
	transform: rotate(-135deg) skewX(-30deg) scale(1,.866) translate(-50%, -35%);
}
.left-ear:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);

}
.left-ear:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

// RIGHT EAR
.right-ear {
  position: absolute;
  top: 36%;
  right: 43%;
  background-color: var(--fur-color);
	text-align: left;

  .inner-ear {
    width: 3rem;
    height: 4rem;
    border-radius: 50%;
    border-bottom: .3rem solid black;
    position: absolute;
    z-index: 2;
  }
}

.right-ear:before,
.right-ear:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.right-ear,
.right-ear:before,
.right-ear:after {
	width:  3em;
	height: 3em;
	border-top-right-radius: 75%;
}

.right-ear {
	transform: rotate(135deg) skewX(-30deg) scale(1,.866) translate(-50%, -35%);
}
.right-ear:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);

}
.right-ear:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}